# ***DATA CLEANING FOR FUTHER VISUALIZATION -***

# ***1)Read the Data-***

In [1]:
import pandas as pd

In [2]:
from os import chdir
chdir("F:/Raw Datasets/Layoff Data")

In [3]:
data = pd.read_csv("layoffs_data.csv")

In [4]:
data

,Company,Location_HQ,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Stage,Date_Added,Country,List_of_Employees_Laid_Off
0,Dunzo,Bengaluru,Food,300.0,0.30,2023-04-05,https://economictimes.indiatimes.com/tech/news...,382.0,Unknown,2023-04-06 03:11:10,India,Unknown
1,Amplitude,SF Bay Area,Data,99.0,0.13,2023-04-05,https://amplitude.com/blog/team-update,311.0,Post-IPO,2023-04-05 18:14:10,United States,Unknown
2,1K Kirana,Gurugram,Retail,600.0,0.40,2023-04-04,https://www.moneycontrol.com/news/business/sta...,NaN,Series B,2023-04-04 09:45:37,India,Unknown
3,Boost,New York City,Finance,15.0,0.20,2023-04-04,https://boostinsurance.com/blog/a-message-from...,37.0,Series B,2023-04-05 00:23:08,United States,Unknown
4,Cin7,Auckland,Retail,NaN,NaN,2023-04-04,https://www.nzherald.co.nz/business/post-pande...,NaN,Private Equity,2023-04-05 16:25:17,New Zealand,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
2463,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.0,Unknown,2020-04-03 04:47:03,United States,Unknown
2464,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13,https://twitter.com/danielsinger/status/123854...,1.0,Seed,2020-04-17 00:12:49,United States,Unknown
2465,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12,https://layoffs.fyi/list/tamara-mellon/,90.0,Series C,2020-03-31 16:04:23,United States,Unknown
2466,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11,https://www.bizjournals.com/louisville/news/20...,12.0,Series A,2020-03-31 13:21:54,United States,Unknown
2467,Blackbaud,Charleston,Other,500.0,0.14,NaN,https://www.postandcourier.com/business/sc-tec...,NaN,Post-IPO,2023-02-15 19:06:44,United States,Unknown

# ***2) Data Profiling-***

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2468 entries, 0 to 2467
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     2468 non-null   object
 1   Location_HQ                 2468 non-null   object
 2   Industry                    2468 non-null   object
 3   Laid_Off_Count              1690 non-null   float64
 4   Percentage                  1638 non-null   float64
 5   Date                        2467 non-null   object
 6   Source                      2468 non-null   object
 7   Funds_Raised                2235 non-null   float64
 8   Stage                       2468 non-null   object
 9   Date_Added                  2468 non-null   object
 10  Country                     2468 non-null   object
 11  List_of_Employees_Laid_Off  2467 non-null   object
dtypes: float64(3), object(9)
memory usage: 231.5+ KB

In [6]:
data.describe()

       Laid_Off_Count   Percentage   Funds_Raised
count     1690.000000  1638.000000    2235.000000
mean       254.399408     0.257984     823.746888
std        833.372494     0.255498    5520.379940
min          3.000000     0.000000       0.000000
25%         37.250000     0.100000      50.000000
50%         80.000000     0.170000     156.000000
75%        180.000000     0.300000     445.000000
max      12000.000000     1.000000  121900.000000

# ***3) Eliminating Missing values in a data using mean mode imputation -***

In [7]:
data.isna().sum()

Company                         0
Location_HQ                     0
Industry                        0
Laid_Off_Count                778
Percentage                    830
Date                            1
Source                          0
Funds_Raised                  233
Stage                           0
Date_Added                      0
Country                         0
List_of_Employees_Laid_Off      1
dtype: int64

In [8]:
for i in data.columns:
    if(data[i].dtypes == 'object'):
        x = data[i].mode()[0]
        data[i]=data[i].fillna(x)
    else:
        x = data[i].mean()
        data[i]=data[i].fillna(x)

In [9]:
data

,Company,Location_HQ,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Stage,Date_Added,Country,List_of_Employees_Laid_Off
0,Dunzo,Bengaluru,Food,300.000000,0.300000,2023-04-05,https://economictimes.indiatimes.com/tech/news...,382.000000,Unknown,2023-04-06 03:11:10,India,Unknown
1,Amplitude,SF Bay Area,Data,99.000000,0.130000,2023-04-05,https://amplitude.com/blog/team-update,311.000000,Post-IPO,2023-04-05 18:14:10,United States,Unknown
2,1K Kirana,Gurugram,Retail,600.000000,0.400000,2023-04-04,https://www.moneycontrol.com/news/business/sta...,823.746888,Series B,2023-04-04 09:45:37,India,Unknown
3,Boost,New York City,Finance,15.000000,0.200000,2023-04-04,https://boostinsurance.com/blog/a-message-from...,37.000000,Series B,2023-04-05 00:23:08,United States,Unknown
4,Cin7,Auckland,Retail,254.399408,0.257984,2023-04-04,https://www.nzherald.co.nz/business/post-pande...,823.746888,Private Equity,2023-04-05 16:25:17,New Zealand,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
2463,HopSkipDrive,Los Angeles,Transportation,8.000000,0.100000,2020-03-13,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.000000,Unknown,2020-04-03 04:47:03,United States,Unknown
2464,Panda Squad,SF Bay Area,Consumer,6.000000,0.750000,2020-03-13,https://twitter.com/danielsinger/status/123854...,1.000000,Seed,2020-04-17 00:12:49,United States,Unknown
2465,Tamara Mellon,Los Angeles,Retail,20.000000,0.400000,2020-03-12,https://layoffs.fyi/list/tamara-mellon/,90.000000,Series C,2020-03-31 16:04:23,United States,Unknown
2466,EasyPost,Salt Lake City,Logistics,75.000000,0.257984,2020-03-11,https://www.bizjournals.com/louisville/news/20...,12.000000,Series A,2020-03-31 13:21:54,United States,Unknown
2467,Blackbaud,Charleston,Other,500.000000,0.140000,2020-04-02,https://www.postandcourier.com/business/sc-tec...,823.746888,Post-IPO,2023-02-15 19:06:44,United States,Unknown

In [10]:
data.isna().sum()

Company                       0
Location_HQ                   0
Industry                      0
Laid_Off_Count                0
Percentage                    0
Date                          0
Source                        0
Funds_Raised                  0
Stage                         0
Date_Added                    0
Country                       0
List_of_Employees_Laid_Off    0
dtype: int64

# ***4) Converting data into continuous and categorical data -***

In [11]:
cat = []
con = []

for i in data.columns:
    if(data[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [12]:
cat

['Company',
 'Location_HQ',
 'Industry',
 'Date',
 'Source',
 'Stage',
 'Date_Added',
 'Country',
 'List_of_Employees_Laid_Off']

In [13]:
con

['Laid_Off_Count', 'Percentage', 'Funds_Raised']

# ***5) Identifying unique values in each attributes in a dataset -***

In [15]:
data.nunique()

Company                       1970
Location_HQ                    202
Industry                        30
Laid_Off_Count                 295
Percentage                      76
Date                           509
Source                        2270
Funds_Raised                   648
Stage                           16
Date_Added                    2429
Country                         60
List_of_Employees_Laid_Off     100
dtype: int64

In [16]:
data

,Company,Location_HQ,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Stage,Date_Added,Country,List_of_Employees_Laid_Off
0,Dunzo,Bengaluru,Food,300.000000,0.300000,2023-04-05,https://economictimes.indiatimes.com/tech/news...,382.000000,Unknown,2023-04-06 03:11:10,India,Unknown
1,Amplitude,SF Bay Area,Data,99.000000,0.130000,2023-04-05,https://amplitude.com/blog/team-update,311.000000,Post-IPO,2023-04-05 18:14:10,United States,Unknown
2,1K Kirana,Gurugram,Retail,600.000000,0.400000,2023-04-04,https://www.moneycontrol.com/news/business/sta...,823.746888,Series B,2023-04-04 09:45:37,India,Unknown
3,Boost,New York City,Finance,15.000000,0.200000,2023-04-04,https://boostinsurance.com/blog/a-message-from...,37.000000,Series B,2023-04-05 00:23:08,United States,Unknown
4,Cin7,Auckland,Retail,254.399408,0.257984,2023-04-04,https://www.nzherald.co.nz/business/post-pande...,823.746888,Private Equity,2023-04-05 16:25:17,New Zealand,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
2463,HopSkipDrive,Los Angeles,Transportation,8.000000,0.100000,2020-03-13,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.000000,Unknown,2020-04-03 04:47:03,United States,Unknown
2464,Panda Squad,SF Bay Area,Consumer,6.000000,0.750000,2020-03-13,https://twitter.com/danielsinger/status/123854...,1.000000,Seed,2020-04-17 00:12:49,United States,Unknown
2465,Tamara Mellon,Los Angeles,Retail,20.000000,0.400000,2020-03-12,https://layoffs.fyi/list/tamara-mellon/,90.000000,Series C,2020-03-31 16:04:23,United States,Unknown
2466,EasyPost,Salt Lake City,Logistics,75.000000,0.257984,2020-03-11,https://www.bizjournals.com/louisville/news/20...,12.000000,Series A,2020-03-31 13:21:54,United States,Unknown
2467,Blackbaud,Charleston,Other,500.000000,0.140000,2020-04-02,https://www.postandcourier.com/business/sc-tec...,823.746888,Post-IPO,2023-02-15 19:06:44,United States,Unknown

In [17]:
data.nunique()

Company                       1970
Location_HQ                    202
Industry                        30
Laid_Off_Count                 295
Percentage                      76
Date                           509
Source                        2270
Funds_Raised                   648
Stage                           16
Date_Added                    2429
Country                         60
List_of_Employees_Laid_Off     100
dtype: int64

In [18]:
data["Date"] = pd.to_datetime(data["Date"])
data["Date"] = pd.DatetimeIndex(data["Date"]).year

In [19]:
data.nunique()

Company                       1970
Location_HQ                    202
Industry                        30
Laid_Off_Count                 295
Percentage                      76
Date                             4
Source                        2270
Funds_Raised                   648
Stage                           16
Date_Added                    2429
Country                         60
List_of_Employees_Laid_Off     100
dtype: int64

In [20]:
data

,Company,Location_HQ,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Stage,Date_Added,Country,List_of_Employees_Laid_Off
0,Dunzo,Bengaluru,Food,300.000000,0.300000,2023,https://economictimes.indiatimes.com/tech/news...,382.000000,Unknown,2023-04-06 03:11:10,India,Unknown
1,Amplitude,SF Bay Area,Data,99.000000,0.130000,2023,https://amplitude.com/blog/team-update,311.000000,Post-IPO,2023-04-05 18:14:10,United States,Unknown
2,1K Kirana,Gurugram,Retail,600.000000,0.400000,2023,https://www.moneycontrol.com/news/business/sta...,823.746888,Series B,2023-04-04 09:45:37,India,Unknown
3,Boost,New York City,Finance,15.000000,0.200000,2023,https://boostinsurance.com/blog/a-message-from...,37.000000,Series B,2023-04-05 00:23:08,United States,Unknown
4,Cin7,Auckland,Retail,254.399408,0.257984,2023,https://www.nzherald.co.nz/business/post-pande...,823.746888,Private Equity,2023-04-05 16:25:17,New Zealand,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
2463,HopSkipDrive,Los Angeles,Transportation,8.000000,0.100000,2020,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.000000,Unknown,2020-04-03 04:47:03,United States,Unknown
2464,Panda Squad,SF Bay Area,Consumer,6.000000,0.750000,2020,https://twitter.com/danielsinger/status/123854...,1.000000,Seed,2020-04-17 00:12:49,United States,Unknown
2465,Tamara Mellon,Los Angeles,Retail,20.000000,0.400000,2020,https://layoffs.fyi/list/tamara-mellon/,90.000000,Series C,2020-03-31 16:04:23,United States,Unknown
2466,EasyPost,Salt Lake City,Logistics,75.000000,0.257984,2020,https://www.bizjournals.com/louisville/news/20...,12.000000,Series A,2020-03-31 13:21:54,United States,Unknown
2467,Blackbaud,Charleston,Other,500.000000,0.140000,2020,https://www.postandcourier.com/business/sc-tec...,823.746888,Post-IPO,2023-02-15 19:06:44,United States,Unknown

In [24]:
data = data.drop(columns=["Source","Date_Added","List_of_Employees_Laid_Off"],axis=1)

***Dropped 3 columns from the dataset as they were not much relevant and discrete data which do not have any mutual relationship with other attributes.***

# ***6) Renaming Columns in the dataset -***

In [31]:
data.columns

Index(['Company', 'Location_HQ', 'Industry', 'Laid_Off_Count', 'Percentage',
       'Date', 'Funds_Raised', 'Stage', 'Country'],
      dtype='object')

In [33]:
data = data.rename(columns={"Location_HQ":"Location_Headquarters","Laid_Off_Count":"Laid-Off Employee(Count)","Percentage":"Laid-off(%)",
       "Date":"Year","Funds_Raised":"Funds-Raised"})

# ***7) Cleaned Data for Vizualization in Tableau -***

In [34]:
data

,Company,Location_Headquarters,Industry,Laid-Off Employee(Count),Laid-off(%),Year,Funds-Raised,Stage,Country
0,Dunzo,Bengaluru,Food,300.000000,0.300000,2023,382.000000,Unknown,India
1,Amplitude,SF Bay Area,Data,99.000000,0.130000,2023,311.000000,Post-IPO,United States
2,1K Kirana,Gurugram,Retail,600.000000,0.400000,2023,823.746888,Series B,India
3,Boost,New York City,Finance,15.000000,0.200000,2023,37.000000,Series B,United States
4,Cin7,Auckland,Retail,254.399408,0.257984,2023,823.746888,Private Equity,New Zealand
...,...,...,...,...,...,...,...,...,...
2463,HopSkipDrive,Los Angeles,Transportation,8.000000,0.100000,2020,45.000000,Unknown,United States
2464,Panda Squad,SF Bay Area,Consumer,6.000000,0.750000,2020,1.000000,Seed,United States
2465,Tamara Mellon,Los Angeles,Retail,20.000000,0.400000,2020,90.000000,Series C,United States
2466,EasyPost,Salt Lake City,Logistics,75.000000,0.257984,2020,12.000000,Series A,United States
2467,Blackbaud,Charleston,Other,500.000000,0.140000,2020,823.746888,Post-IPO,United States

# ***8) Exporting Dataset into Excel to later connect towards Data Source -***

In [35]:
data.to_csv("F:/Raw Datasets/Layoff Data.csv")

#                                            ***!!THANK YOU!!***